* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.move {
  max-width: 100%;
  margin: 0 auto;
}
.wrapper-container {
  position: relative;
  z-index: 2;
  max-height: 100%;
  overflow-y: auto;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: static;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-style: 20px;
  margin-bottom: 40px;
}
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
  max-width: 100%;
}

.featured-content {
  height: 700px;
  padding: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url("img/f-1.jpg") no-repeat;
}

.featured-content-2 {
  height: 700px;
  padding: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #800301b5),
    url("img/f-2.jpg") no-repeat;
}

.featured-title {
  width: 300px;
  padding-bottom: 30px;
}
.featured-desc {
  width: 50vh;
  color: lightgrey;
  margin: 30px 0;
}

.form-group {
  margin-bottom: 1rem;
}

#inputValue {
  width: 40%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#search {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.movie-list-2 {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-3 {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.movie-list-4 {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}
.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
#movies-searchable {
  margin-top: 20px;
}
section {
  display: flex;
  width: 100%;
  overflow-x: auto;
}
section img {
  margin-right: 29px;
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}
.content {
  border: 1px solid red;
  height: 300px;
  display: none;
}
.content-display {
  display: contents;
  padding-left: 310px;
}
.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.rightOne {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}
.leftOne {
  position: absolute;
  font-size: 120px;
  top: 90px;
  left: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}
.lefttwo {
  position: absolute;
  font-size: 120px;
  top: 90px;
  left: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}
.leftThree {
  position: absolute;
  font-size: 120px;
  top: 90px;
  left: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}
.leftFor {
  position: absolute;
  font-size: 120px;
  top: 90px;
  left: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}

.arrow-1 {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}

.arrow-2 {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}
.arrow-3 {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgrey;
  opacity: 0.5;
  cursor: pointer;
}
.container.active {
  background-color: white;
}
.movie-list-title.active {
  color: black;
}
.navbar-container.active {
  background-color: #f2f2f2;
  color: black;
}

.sidebar.active {
  background-color: #f2f2f2;
}
.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}
.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.featured-content.active {
  background-image: url(img/f-1.jpg);
  background: linear-gradient(to bottom, rgba(26, 21, 21, 0), #ffffff),
    url("img/f-3.jpg") no-repeat;
}

.featured-content-2.active {
  height: 800px;
  padding: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c3c3c300),
    url("img/f-4.jpg") no-repeat;
}
@media screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
